body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

/* New Stuff */
.left_card {
  float: left;
  width: 45%;
  display: block;
  padding: 0px;
}

.left_card h1{
  clear: right;
}

.right_card {
  float: right;
  width: 45%;
  display: block;
}

.tile-image {
  height: 200px;
  float: left;
  margin-right: 50px;
}

span {
  color: midnightblue;
}

@media (max-width: 800px) {
  .logo {
    width: 100px;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .left_card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }

  .right_card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }

  .tile-image {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
}